.navbar {
  background-color: #ffffff;
  padding: 15px 0;
  border-bottom: 1px solid #eaeaea;
}

.container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 20px;
  font-weight: 600;
  color: #1e3a8a;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #1e3a8a;
}
