<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="contact-strip">

  <a href="tel:+917517355137" class="contact-item">
    <i class="fas fa-phone"></i>
    <span>Call Us</span>
  </a>

  <a href="https://wa.me/917517355137" target="_blank" class="contact-item">
    <i class="fab fa-whatsapp"></i>
    <span>WhatsApp</span>
  </a>

  <a href="mailto:saurabhshinde4124@gmail.com" class="contact-item">
    <i class="fas fa-envelope"></i>
    <span>Email</span>
  </a>

</div>

<app-footer></app-footer>

