/* You can add global styles to this file, and also import other style files */
@import "~@fortawesome/fontawesome-free/css/all.min.css";
.contact-strip {
  width: 100%;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.contact-item i {
  font-size: 22px;
}

.contact-item:hover {
  transform: scale(1.05);
  color: #25d366;
}
