.footer {
  background-color: #111827;
  color: #fff;
  padding-top: 50px;
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.footer-section {
  flex: 1;
  min-width: 220px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
}

.footer-section p {
  margin-bottom: 8px;
  color: #d1d5db;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #d1d5db;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #0f172a;
  font-size: 14px;
}
